@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;600&display=swap");
:root {
  --primary-color: #7834ce;
  --secondary-color: #e287d8;
  --text-color: #06020a;
  --bg-color: #faf7fd;
  --accent-color: #d85ab5;
  --font-w-200: 200;
  --font-w-400: 400;
  --font-w-600: 600;
  --shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  color: var(--text-color);
}

ul {
  list-style: none;
}

.flex {
  display: flex;
}
